
/* Overwrite existing styles and set my own styles. */

// auto-wrap long url
// credit: https://stackoverflow.com/a/10797268/4246348
// update on 5/9/18 by Gaoping:
// no need to use word-break if we set the max-width and
// width:100%; on mibile, it will automatically wrap the
// long url in <p> and remain the <code> block unwrapped
// (it is crucial to remain each line of code unwrapped) 
body {
  // -ms-word-break: break-all;
      // word-break: break-all;
      // Non standard for webkit
      // word-break: break-word;

  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

main,
footer,
.nav-container {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  padding: 0 1rem;
}
footer {
  padding-top: 1rem;
}

.btn {
  cursor: pointer;
}

.show-comments {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.post-title {
  font-size: 2.5rem;
}

// set smaller padding for the syntax highlight of each code block
.highlight {
  padding: 3px 6px;
}