---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}

    {% if page.tags.size != 0 %}
      <br> Tags: 
      {% for tag in page.tags %}
        <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">{{tag}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
      {% endfor %}
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

    {{ content }}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="arrow arrow-left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="arrow arrow-right ">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>

<!-- Post comments -->
<div class="notecomments">
  {% include disqus.html %}  
</div>

<!-- Hover anchor links -->
{% include anchor_support.html %}
